
<div class="sign-in">
 <div id="sign-title"> <h2>Sign up</h2></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_Name, :class => "s-header" %><br />
  <%= f.text_field :firstName, :class => "s-box" %></div>

  <div><%= f.label :last_Name, :class => "s-header"  %><br />
  <%= f.text_field :lastName, :class => "s-box" %></div>

  <div><%= f.label :email, :class => "s-header"  %><br />
  <%= f.email_field :email, :autofocus => true, :class => "s-box" %></div>

  <div><%= f.label :password, :class => "s-header"  %><br />
  <%= f.password_field :password, :class => "s-box" %></div>

  <div><%= f.label :password_confirmation, :class => "s-header"  %><br />
  <%= f.password_field :password_confirmation, :class => "s-box" %></div>

  <div><%= f.submit "Sign up", :id => "s-button1" %></div>
<% end %>

<!--<%= render "devise/shared/links" %> -->
