<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="payment">
  <div class="field">
    <%= f.label :card_holder_name %>
    <%= f.text_field :name, size: 40 %>
  </div><br>
  <div class="field">
    <%= f.label :card_type %>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
  </div><br>
  <div class="field">
    <%= f.label :card_number %>
    <%= f.text_field :card_number %>
  </div><br>
  <div class="field">
    <%= f.label :card_expiry_date %>
    <%= f.text_field :card_expiry_date %>
  </div><br>
  <div class="field">
    <%= f.label :cv2_number %>
    <%= f.text_field :cv_number %>
  </div><br>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, size: 40 %>
  </div><br>
  <div class="field">
    <%= f.label :shipping_address %><br />
    <%= f.text_area :address,  rows: 3, cols: 40 %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Place Order' %>
  </div><br>
</div>
<% end %>
