<p id="notice"><%= notice %></p>

<h1>Payment Details</h1><br>

<p>------Your payment was successful------</p><br>

<p>Thank you for your payment. Your order reference is: #167865 </p>
A confirmation email has been sent to: </p>
<p><%= @order.email %></p><br><br>



<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Delivery Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>
<p>
  #Items: <%= current_cart.line_items.sum(&:quantity) %> |
  Total Price: <%= number_to_currency(current_cart.total_price) %> 
</p></br>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
