<p id="notice"><%= notice %></p>

<h1>Payment Details</h1><br>

<p>------Your payment was successful------</p><br>

<p>Thank you for your oder. Your order reference is: #167865 </p>
A confirmation email has been sent to: </p>
<p><%= @order.email %></p><br><br>



<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Delivery Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p><br>
