<% if notice %>
  <p id="notice"><%= notice %></p> 
<% end %>

<h1>Your Cart</h1> <br>
<table>
  <tr>
    <th>Qty</th>
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

  <% @cart.line_items.each do |item| %> 
    <tr>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.name %></td>
      <td><%= number_to_currency(item.total_price) %></td>
      <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr> 
  <% end %>
  <tr>
    <td><h1>Total</h1></td>
    <td><h1><%= number_to_currency(@cart.total_price) %></h1></td> 
  </tr>
</table><br>

<%= button_to "Checkout", new_order_path, method: :get %><br>
<%= link_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?' %> |
<%= link_to 'Continue to Shop', home_index_path %>

