<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Category%><br />
    <%= f.association :productmain, collection: Productmain.all, prompt: "choose a Product" %>
  </div>
  <div class="field">
    <%= f.label :product_type %><br />
    <%= f.association :product_type, collection: ProductType.all, prompt: "choose a product Type" %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :product_brand %><br />
    <%= f.association :product_brand_name, collection: ProductBrandName.all, prompt: "choose a Brand" %>
  </div>
  <div class="field">
    <%= f.label :size_id %><br />
    <%= f.association :size, collection: Size.all, prompt: "choose a Size" %>
  </div>
  <div class="field">
    <%= f.label :colour_id %><br />
    <%= f.number_field :colour_id %>
  </div>
  <div class="field">
    <%= f.label :stock %><br />
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
