<p id="notice"><%= notice %></p>

<!-- Product Detail Page -->
<div class="product-main"> 
  <div class="column1"> 
    <div class="product-image"> 
      <%= image_tag @product.product_image.detail.url %>
    </div> 
  </div>

  <div class="column2"> 
    <div class="product-information"> 
      <h1><%= @product.name %></h1>
      <%= @product.product_brand_name.name %> | 
      <%= @product.productmain.name %> >>
      <%= @product.product_type.name %>
      <div class="description">
        <%= @product.description %>
      </div>

      <div class="price">
        <%= number_to_currency(@product.price) %>
      </div>

      <div id="line3"></div>

      <p>
        <b>Colour:</b>
        <%= @product.colour.name %>
      </p>

      <p>
        <b>Size:</b>
        <%= @product.size.name %>
      </p>

      <p>
        <b>Stock:</b>
        <%= @product.stock %>
      </p>

      <p>
        <%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
      <p>
    </div> 
  </div> 
  <div class="bottom">
    <h1>Comments</h1></b>
    <div class="comment-container">
      <% @product.comments.each do |orange| %>
      <div class = "comment-content">
        <div class="bubble-image"><img src="#"></div>
        <div class="comment">
          <%= orange.user.firstName %> <br> 
          <%= orange.comment %> 
          <div id="date"><em>24.20.2014</em></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class='comment-form'>
    <%= form_tag addcomment_path(@product), method: "post" do %>
      <input type="textarea" name="body" placeholder="write a comment">
      <input type="submit" value="Post">
    <%end%><br>
  </div>
</div>
<!-- End Product Detail Page -->

