<p id="notice"><%= notice %></p>

<!-- Product Detail Page -->
<div class="product-main"> 
  <div class="column1"> 
    <div class="product-image"> 
      <%= image_tag @product.product_image.detail.url, :id => 'zoom_05', :data => { "zoom-image" => "#{@product.product_image.url}"}   %>
    </div> 
  </div>

  <div class="column2"> 
    <div class="product-information"> 
      <h1 id="pd-header"><%= @product.name %></h1>

      <div id="pd-info">
        <%= @product.product_brand_name.name %> | 
        <%= @product.productmain.name %> >>
        <%= @product.product_type.name %>
      </div>

      <div id="pd-description">
        <%= @product.description %>
      </div>

      <div id="pd-price">
        <%= number_to_currency(@product.price) %>
      </div>

      <div id="line4"></div>

      <div id="pd-subhead1">Available In:</div>

      <div id="pd-subcontent">
        <div id="block1"><b>Colour:</b> <%= @product.colour.name %></div>
        <div id="block2"><b>Size:</b> <%= @product.size.name %></div>
        <div id="block3"><b>In-Stock:</b> <%= @product.stock %></div>
      </div>
      <div id="line5"></div>
      </div id="cart">
        <%= button_to 'Add to Cart', line_items_path(product_id: @product), :id => "addCart"  %>
      </div> 
    </div>
  </div>

  <div class="bottom">
    <h1>Comments</h1></b>
    <div class="comment-container">
      <% @product.comments.each do |orange| %>
      <div class = "comment-content">
        <div class="bubble-image"><img src="/images/gravatar.jpg"></div>
        <div class="comment">
          <div class="pd-firstname"><%= orange.user.firstName %> <br> </div>
          <%= orange.comment %> 
          <div id="date"><em><%= Time.now %></em></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="line6"></div>
  <div class='comment-form'>
    <%= form_tag addcomment_path(@product), method: "post" do %>
      <input type="textarea" name="body" placeholder="write a comment" id="pd-textarea">
      <input type="submit" value="Post" id="pd-post">
    <%end%><br>
  </div>
</div>
<!-- End Product Detail Page -->

