<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @image.product_id %>
</p>

<p>
  <b>Image:</b>
  <%= @image.image %>
</p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
