<!DOCTYPE html>
<html>
<head>
  <title>Tadashi-Yani</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
  <!-- Main -->
  <div id="main">
    <!-- Header -->
    <div id="header">
      <h1 id="logo"><%= link_to 'Tadashi Yani', home_index_path %></h1>
      <!-- Navigation -->
      <div id="navigation">
        <ul>
          <li class="active"><%= link_to 'Home', home_index_path %></li>
          <li><%= link_to 'Mens Store', menstores_path %></li>
          <li><%= link_to 'Accessories', accessories_path %></li>
          <li><%= link_to 'Bags', bags_path %></li>
          <li><%= link_to 'Shoes', shoes_path %></li>
          <li><a href="#">
            <% if current_user %>
              Hi <%= current_user.firstName %>! |
              <%= link_to 'log out', destroy_user_session_path, method: :delete %>
            <% else%>
              <%= link_to 'create account', new_user_registration_path %> |
              <%= link_to 'sign in', new_user_session_path %>
            <% end %></a>
          </li> 
        </ul>
      </div>
      <!-- End Navigation --> 
      <!-- Cart -->
      <div id="cart"> 
        <a href="" id="cart>"><img src="images/cart-link.gif"></a>
        <span><%= render 'line_items/line_item' %></span>
      </div>
      <!-- End Cart --> 
    </div>
    <div id="line1"></div> 
    <!-- End Header -->
    

    <!-- Content -->
    <div id="content">
      <!-- Sidebar -->
      <div id="sidebar">
        <!-- Search -->
        <div class="box search">
          <h2>Search by</h2>
          <div class="box-content">
            <%= search_form_for @q do |f| %>
              <p>
                <%= f.label :name_cont, "Keyword" %>
                <div class="field"><%= f.text_field :name_cont %></div>
              </p>

              <div id="category">
              <label>Category</label>
              <%= f.collection_select :productmain_id_eq, @product_categories_for_search, :id, :name %>
              </div>

              <div id="producttype">
              <label>Product Type</label>
              <%= f.collection_select :product_type_id_eq, @product_categories_type_for_search, :id, :name %>
              </div>

              <div id="pricerange">
                <%= f.label :price_gteq, "Price", :class => "serachprice"  %>
                <%= f.text_field :price_gteq, :class => "from"  %>
                <%= f.label :price_lteq, "-to-", :class => "and" %>
                <%= f.text_field :price_lteq, :class => "to"  %>
              </div>

              <%= f.submit 'Search', :class => "search-submit" %>
              
            <% end %>
          </div>
        </div>
        <!-- End Search -->
      </div>
      <!-- End Sidebar -->

      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
            <li><%= image_tag('slide1.jpg', :id => 'slide1') %></li>
            <li><%= image_tag('slide2.jpg', :id => 'slide2') %></li>
          
          </ul>
        </div>
        <div id="slider-nav"> 
          <a href="#" class="active">1</a> 
          <a href="#">2</a> 
          <a href="#">3</a> 
          <a href="#">4</a> 
        </div>
      </div>
      <div id="line2"></div>
      <!-- End Content Slider -->

      <!-- Products -->
        <%= yield %>
<!--         <p class="notice"><%= notice %></p> -->
<!--         <p class="alert"><%= alert %></p>  -->
      <!-- end Products -->

    </div>
    <!-- End Content -->
  </div>
  <!-- End Main -->


  <!-- Footer -->
  <div id="footer">
    <p class="left"> 
      <%= link_to 'Home', home_index_path %><span>|
      </span> <a href="#">Support</a> <span>|
      </span> <a href="#">My Account</a> <span>|
      </span> <a href="#">The Store</a> <span>|
      </span> <%= link_to 'Admin Access', admins_path %><span>|
      </span> <a href="#">Contact</a> 
    </p>
    <p class="right"> &copy; 2014 Tadashi Yani Shop </p>
    <div align=center>All rights reserved | Site by <a href='https://twitter.com/ArtLoe'>Richill ARTLoe</a></div>
  </div>
  <!-- End Footer -->

</body>
</html>
