<!DOCTYPE html>
<html>
<head>
  <title>Tadashi-Yanai</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Shell -->
<div class="shell">
  <!-- Header -->
  <div id="header">
    <h1 id="logo"><a href="#">Tadashi Yani</a></h1>
    <!-- Cart -->
    <div id="cart"> <a href="#" class="cart-link">Your Shopping Cart</a>
      <div class="cl">&nbsp;</div>
      <span>Articles: <strong>4</strong></span> &nbsp;&nbsp; <span>Cost: <strong>$250.99</strong></span> 
    </div>
    <!-- End Cart -->

    <!-- Navigation -->
    <div id="navigation">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Mens Store</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li><a href="#">Shoes</a></li>
        <li class="nav-item">
          <% if current_user %>
            <%= current_user.email %> |
            <%= link_to 'log out', destroy_user_session_path, method: :delete %>
          <% else%>
            <%= link_to 'create account', new_user_registration_path %> |
            <%= link_to 'sign in', new_user_session_path %>
          <% end %>
        </li> 
      </ul>
    </div>
    <!-- End Navigation -->
  </div>
  <!-- End Header -->
  



  <!-- start content products -->
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <!-- end content products -->





  <!-- Footer -->
  <div id="footer">
    <p class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </p>
    <p class="right"> &copy; 2014 Tadashi Yanai Shop</p>
  </div>
  <!-- End Footer -->
</div>
<!-- End Shell -->
<div align=center>All rights reserved | Site by<a href='https://twitter.com/ArtLoe'>Richill ARTLoe</a></div></body>
</html>
