<!DOCTYPE html>
<html>
<head>
  <title>Tadashi-Yani</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
  <!-- Main -->
  <div id="main">
    <!-- Header -->
    <div id="header">
      <h1 id="logo"><%= link_to 'Tadashi Yani', home_index_path %></h1>
      <!-- Navigation -->
      <div id="navigation">
        <ul>
          <li class="active"><%= link_to 'Home', home_index_path %></li>
          <li><%= link_to 'Mens Store', menstores_path %></li>
          <li><%= link_to 'Accessories', accessories_path %></li>
          <li><%= link_to 'Bags', bags_path %></li>
          <li><%= link_to 'Shoes', shoes_path %></li>
          <li><a href="#">
            <% if current_user %>
              Hi <%= current_user.firstName %>! |
              <%= link_to 'log out', destroy_user_session_path, method: :delete %>
            <% else%>
              <%= link_to 'create account', new_user_registration_path %> |
              <%= link_to 'sign in', new_user_session_path %>
            <% end %></a>
          </li> 
        </ul>
      </div>
      <!-- End Navigation --> 
      <!-- Cart -->
      <div id="cart"> 
        <a href="" id="cart>"><img src="images/cart-link.gif"></a>
        <span><%= render 'line_items/line_item' %></span>
      </div>
      <!-- End Cart --> 
    </div>
    <div id="line1"></div> 
    <!-- End Header -->
    

    <!-- Content -->
    <div id="content">
      <!-- Sidebar -->
      <div id="sidebar">
        <!-- Search -->
        <div class="box search">
          <h2>Search by</h2>
          <div class="box-content">
            <form action="#" method="post">
              <%= search_form_for @q do |f| %>
                <%= f.label :name_cont, "Keyword" %>
                <div class="field"><%= f.text_field :name_cont%></div>
              <%end%>
              <label>Category</label>
              <select class="field">
                <option value="">-- Select Category --</option>
              </select>
              <div class="inline-field">
                <label>Price</label>
                <select class="field small-field">
                  <option value="">$10</option>
                </select>
                <label>to:</label>
                <select class="field small-field">
                  <option value="">$50</option>
                </select>
              </div>
              <input type="submit" class="search-submit" value="Search" />
              <p> <a href="#" class="bul">Advanced search</a><br />
                <a href="#" class="bul">Contact Customer Support</a> </p>
            </form>
          </div>
        </div>
        <!-- End Search -->
      </div>
      <!-- End Sidebar -->

      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src="images/slide1.jpg" alt="" /></a></li>
<!--        <li><a href="#"><img src="images/slide1.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/slide1.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/slide1.jpg" alt="" /></a></li> -->
          </ul>
        </div>
        <div id="slider-nav"> 
          <a href="#" class="active">1</a> 
          <a href="#">2</a> <a href="#">3</a> 
          <a href="#">4</a> 
        </div>
      </div>
      <div id="line2"></div>
      <!-- End Content Slider -->

      <!-- Products -->
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> 
      <!-- end Products -->

    </div>
    <!-- End Content -->
  </div>
  <!-- End Main -->


  <!-- Footer -->
  <div id="footer">
    <p class="left"> 
      <%= link_to 'Home', home_index_path %><span>|
      </span> <a href="#">Support</a> <span>|
      </span> <a href="#">My Account</a> <span>|
      </span> <a href="#">The Store</a> <span>|
      </span> <%= link_to 'Admin Access', admins_path %><span>|
      </span> <a href="#">Contact</a> 
    </p>
    <p class="right"> &copy; 2014 Tadashi Yani Shop </p>
    <div align=center>All rights reserved | Site by <a href='https://twitter.com/ArtLoe'>Richill ARTLoe</a></div>
  </div>
  <!-- End Footer -->

</body>
</html>
